{% extends 'base.html' %}
{% block title %}Nova Categoria{% endblock %}

{% block content %}
<div class="container col-md-6">

    <h4 class="mb-3">➕ Nova Categoria</h4>

    <form method="post">
        {% csrf_token %}
        <input type="text"
               name="nome"
               class="form-control mb-3"
               placeholder="Ex: Academia"
               required>

        <button class="btn btn-success">Salvar</button>
        <a href="{% url 'lista_categorias' %}" class="btn btn-secondary">
            Cancelar
        </a>
    </form>

</div>
{% endblock %}
